.form-check-input:focus {
    border-color:#a99579 !important;
    outline: 0;
    box-shadow: none;
}
.form-check-input[type=checkbox] {
    border-radius: 1.25em;
}

.form-check-input:checked {
    background-color:#ddd5cd;
    border-color: #a99579;
}

.form-check-input {
    --bs-form-check-bg:#ddd5cd;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #a99579; 
    
}
.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23a99579' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
}