.single-task{
  width: 100%;
  background-color: #ddd5cd;
}
.single-task .single-task-wrapper{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-task .circle-icon-wrapper{
  height: 25px;
  width: 25px;
}
.single-task .dot-icon-wrapper{
  height: 25px;
  width: 25px;
  cursor: pointer;
}


.single-task .left{
  display: flex;
  align-items: center;
}

.task-detail .btn-delete{
  width: 100% ;
  padding:7px;
  border: none;
  border-radius: 5px;
  background-color: #fecaca;
  color: #f36868;
  font-weight: 400;

}

.task-detail .task-detail-wrapper{
  padding: 10px;
  list-style: none;
}


.form-check-input:focus {
  border-color:#a99579 !important;
  outline: 0;
  box-shadow: none;
}
.form-check-input[type=checkbox] {
  border-radius: 1.25em;
}

.form-check-input:checked {
  background-color:#ddd5cd;
  border-color: #a99579;
}

.form-check-input {
  --bs-form-check-bg:#ddd5cd;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #a99579; 
  
}
.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23a99579' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
}